:root {
  --bg-1: #ffffff;
  --bg-2: #ededed;
  --fg: #171717;
  --fg-info: #777777;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-1: #0a0a0a;
    --bg-2: #171717;
    --fg: #ededed;
    --fg-info: #777777;

    --border: #333333;
    --border-active: #555555;

    --accent: #ff1660;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--fg-1);
  background: var(--bg-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
