.container {
}

.container > nav {
  height: 192px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleBox {
  transform: matrix(1, -0.1, -0.1, 1, 0, 0);
  padding: 16px 24px;
  border: var(--fg) 2px solid;
  border-radius: 2px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--fg);
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' fill='none'><circle r='1.5' fill='white' cx='2' cy='2'/><circle r='1.5' fill='white' cx='6' cy='6'/></svg>");
    mask-mode: alpha;
    mask-size: 7.5px 7.5px;
  }

  &>.byMe {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    text-align: right;
    font-size: 0.8rem;

    &>span {
      font-weight: 900;
    }
  }

  & > h1 {
    mask: unset;
    font-weight: 900;
    font-size: 2rem;
    color: var(--fg);
    text-shadow: 4px 4px 0px #000000;
  }
}

.container > main {
}
