.container {
  display: flex;
  border: var(--border) solid 1px;
  border-radius: 8px;
  height: 80px;
  min-width: 260px;
  position: relative;
  overflow: hidden;

  &:hover {
    border-color: var(--border-active);
  }

  gap: 16px;
}

.containerRight {
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
  z-index: 10;
}

.image {
  height: 100%;
  width: auto;
  aspect-ratio: 1;
  background-color: var(--bg-2);
}

.title {
  display: flex;
  font-size: 1rem;
}

.description {
  display: flex;
  color: var(--fg-info);
  font-size: 0.8rem;
  line-clamp: 1;
  text-overflow: ellipsis;
}

.tagContainer {
  display: flex;
  gap: 8px;
}

.tag {
  display: flex;
  font-weight: 700;
  font-size: 0.6rem;
  border: rgba(from var(--accent) r g b / .5) 1px solid;
  border-radius: 4px;
  background: linear-gradient(180deg, rgba(from var(--accent) r g b / .3), rgba(from var(--accent) r g b / 0.1));
  padding: 1px 4px;
}

.overlayAsterisk {
  position: absolute;
  left: 0px;
  right: -1.5rem;
  top: -2.9rem;
  bottom: 0px;
  display: flex;
  justify-content: end;
  align-items: start;
  padding: 8px;
  user-select: none;

  & p {
    font-size: 9rem;
    background-image: linear-gradient(45deg, #0000, var(--accent) 70%);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    opacity: 0.6;

  }
}
