.container {
  display: flex;
}

.containerRight {
  display: flex;
  flex-direction: column;
}

.image {
  height: 64px;
  width: 64px;
}

.title {
  display: flex;
  font-size: 2rem;
}

.description {
  display: flex;
  color: var(--fg-info);
  font-size: 1rem;
}

.tagContainer {
  display: flex;
  gap: 8px;
}

.tag {
  display: flex;
  font-weight: 700;
  font-size: 1rem;
}
